{% extends 'base.html' %}
{% load static %}
{% block title %} بایران - پرداخت {% endblock %}
{% block content %}
<div class="container">
    <h1>
        متشکریم!
    </h1>
    <h2>
    شماره سفارش شما {{ order_items.first.order.random_order_id }}
    </h2>
    <hr />
    <table class="shop_table">
        <tbody>
        {% for item in order_items %}
                <tr class="cart_item">
                    <td class="product-name">
                        {{ item.product.title }} <strong class="product-quantity">× {{ item.count }}</strong> </td>
                    <td class="product-total">
                        {% if item.product.files.count > 0 %}
                            {% for file in item.product.files.all %}
                                    <a href="{{ file.file.url }}">{{ file.title }}</a>
                                <br />
                            {% endfor %}
                        {% else %}
                            <span>فایل موجود نیست!</span>
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
     </table>
    </div>
{% endblock %}