{% extends 'base.html' %}
{% load static %}
{% block title %} بایران - سبد خرید {% endblock title %}
{% block content %}
    
<!--shopping cart area start -->
    <div class="cart_page_bg">
        <div class="container">
            <div class="shopping_cart_area">
                {% if cart|length == 0 %}
                    <div>
                        <h3>سبد خرید خالی است!</h3>
                        <br />
                        <a class="btn btn-primary" href="{% url 'product' %}">بازگشت به لیست محصولات</a>
                    </div>
                {% else %}

                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_remove">حذف</th>
                                                <th class="product_thumb">تصویر</th>
                                                <th class="product_name">محصول</th>
                                                <th class="product-price">قیمت</th>
                                                <th class="product_total">جمع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            {% with product=item.product %}
                                            <tr>
                                                <td class="product_remove"><a href="{% url 'cart_remove' product.id %}"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="{{ product.pic.url }}"><img src="{{ product.pic.url }}" alt="{{ product.title }}"></a></td>
                                                <td class="product_name"><a href="{{ product.get_absolute_url }}">{{ product.title|slice:":35"}}</a></td>
                                                <td class="product-price">{{ item.price }} تومان</td>
                                                <td class="product_total">{{ item.total_price }} تومان</td>


                                            </tr>
                                            {% endwith %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>مجموع سبد</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>حمل و نقل</p>
                                            <p class="cart_amount">20,000 تومان</p>
                                        </div>
                                        <div class="cart_subtotal has-border">
                                            <p>جمع</p>
                                            <p class="cart_amount">{{ cart.get_total_price }} تومان</p>
                                        </div>
                                        <div class="checkout_btn">
                                            <a href="{% url 'checkout' %}">تکمیل خرید</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!--shopping cart area end -->

{% endblock %}