    {% extends 'base.html' %}
    {% load static %}
    {% block title %} پارسی پروژه - ثبت اطلاعات سفارش {% endblock %}
    {% block content %}
    <!--Checkout page section-->
    <div class="checkout_page_bg">
        <div class="container">
            <div class="Checkout_section">
                <div class="checkout_form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="checkout_form_left">
                                <h3>تکمیل سفارش</h3>
                                {{ form.non_field_errors }}
                                <form action="." method="post">
                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                    {% csrf_token %}
                                    <input type="submit" value="ارسال" class="bt_add_to_cart" style="text-align: center;">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="checkout_form_right">
                                <form action="#">
                                    <h3>سفارش شما</h3>
                                    <div class="order_table table-responsive">
										<table>
											<thead>
												<tr>
													<th>محصول</th>
													<th>جمع</th>
												</tr>
											</thead>
											<tbody>
                                                {% for item in cart %}
												<tr>
													<td><span class="d-inline-block">{{ item.product.title }}</span> <strong>× {{ item.count }}</strong></td>
													<td>{{ item.total_price }} تومان</td>
												</tr>
                                                {% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<th>جمع سبد</th>
													<td>{{ cart.get_total_price }} تومان</td>
												</tr>
												<tr>
													<th>حمل و نقل</th>
													<td><strong>5,000 تومان</strong></td>
												</tr>
												<tr class="order_total">
													<th>مجموع سفارش</th>
													<td><strong>{{ cart.get_total_price }} تومان</strong></td>
												</tr>
											</tfoot>
										</table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
